<h1>Recipes</h1>

<ul>
<% @recipes.each do |recipe| %>
  <h5>Name: <%= recipe.name %></h5>
  <li>Ingredients: <%= recipe.ingredients %></li>
  <li>Cook Time: <%= recipe.cook_time %></li>
  <% end %>
</ul>
